<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    Not yet authenticated, please follow these steps to sigin
    <li>
      1/ Redirect to Blueleaf
      <a href="http://localhost:3000"> Here </a>
    </li>
    <li>
      2/ Signin as advisor
    </li>
    <li>
      3/ click on "SSO testing" link on top right
    </li>
  </div>
</div>

<div class="container">

  <hr>

  <footer>
    <p>&copy; Company 2016</p>
  </footer>
</div> <!-- /container -->

